In [1]:
!pip install mysql-connector-python
import mysql.connector as connection


mydb = connection.connect(host="localhost",user="root", passwd="Sherin@1234",use_pure=True,buffered=True)
    # check if the connection is established
query = "Create Database Carbon"
cur= mydb.cursor()
cur.execute(query)

Requirement already satisfied: mysql-connector-python in c:\python\lib\site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in c:\python\lib\site-packages (from mysql-connector-python) (4.21.2)

DatabaseError: 1007 (HY000): Can't create database 'carbon'; database exists

In [ ]:
mydb = connection.connect(host="localhost",database='Carbon',user="root", passwd="Sherin@1234",use_pure=True,buffered=True)
cur= mydb.cursor()

In [ ]:
cur= mydb.cursor()
cur.execute("Create table Carbon.Carbonnano(Chiral_indice_n varchar(10), Chiral_indice_m varchar(10),Initial_atomic_coordinate_u varchar(10),Iniatomic_indice_v varchar(10), Initial_atomic_coordinate_w varchar(10),final_atomic_coordinate_u varchar(10),final_atomic_coordinate_v varchar(10), final_atomic_coordinate_w varchar(10))")

In [ ]:
for i in cur.fetchall():
    print(i)

In [ ]:
 data_csv = csv.reader(data, delimiter = ";")
    for j in data_csv:
        l = []
        for i in j:
            k = i.split(',')
            l.extend( k)
        s=','.join(l)
        cursor.execute(f'insert into CarbonNanoTubes.carbontubes values ({s})')
    print("all the data is inserted")
mydb.commit()

In [ ]:
import csv
with open('carbon_nanotubes.csv',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= ";")
    for i in data_csv:
        k=str(i).replace('[','').replace(']','')
        cur.execute('insert into Carbon.carbonnano values ({})'.format(str(k)))
    print('Data inserted')
mydb.commit()

In [ ]:
mydb = connection.connect(host="localhost",database='Carbon',user="root", passwd="Sherin@1234",use_pure=True)
cur=mydb.cursor()

In [ ]:
#cur1=mydb.cursor()
cur.execute("select * from Carbon.Carbonnano limit 25")
mydb.commit()

In [ ]:
for i in cur.fetchall():
    print(list(i))

In [ ]:
cur1=mydb.cursor()
cur1.execute('select Initial_atomic_coordinate_u,final_atomic_coordinate_u from Carbon.Carbonnano;')
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute('select DISTINCT Initial_atomic_coordinate_u as x1,final_atomic_coordinate_u as x2 from Carbon.Carbonnano;')
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute('select final_atomic_coordinate_v,Initial_atomic_coordinate_u from Carbon.Carbonnano where Chiral_indice_n=3;')
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute('select Initial_atomic_coordinate_w,Initial_atomic_coordinate_u from Carbon.Carbonnano where Chiral_indice_n=3 and Chiral_indice_m=2;')
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("Update Carbon.Carbonnano set Initial_atomic_coordinate_w='0,6314' where Initial_atomic_coordinate_w='0,006602';")
mydb.commit()

In [ ]:

cur1=mydb.cursor()
cur1.execute('select final_atomic_coordinate_v,final_atomic_coordinate_w from Carbon.Carbonnano where NOT Chiral_indice_n=3;')
mydb.commit()

In [ ]:

cur1=mydb.cursor()
cur1.execute('select final_atomic_coordinate_u,Chiral_indice_m from Carbon.Carbonnano ORDER by Chiral_indice_n DESC;')
mydb.commit()

In [ ]:

cur1=mydb.cursor()
cur1.execute('select final_atomic_coordinate_u,Chiral_indice_m from Carbon.Carbonnano where Chiral_indice_n>=2 LIMIT 15;')
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("select MIN(Chiral_indice_m),MAX(Initial_atomic_coordinate_u) from Carbon.Carbonnano;")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("select COUNT(final_atomic_coordinate_u) from Carbon.Carbonnano ;")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("select initial_atomic_coordinate_u,Chiral_indice_n from Carbon.Carbonnano where Initial_atomic_coordinate_u LIKE '%64';")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("select final_atomic_coordinate_u,Chiral_indice_n from Carbon.Carbonnano where final_atomic_coordinate_u LIKE '%61%';")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("select * from Carbon.Carbonnano where Initial_atomic_coordinate_u BETWEEN '0,6790%' AND '0,7172%' Limit 10;")
mydb.commit()

In [ ]:
cur1.execute("select final_atomic_coordinate_w as A1,Iniatomic_indice_v as A2 from Carbon.Carbonnano LIMIT 10;")
mydb.commit()

In [ ]:
cur1.execute("select final_atomic_coordinate_w ,Chiral_indice_n from Carbon.Carbonnano Group by Chiral_indice_n;")
mydb.commit()

In [ ]:
cur1.execute("select final_atomic_coordinate_w ,Chiral_indice_n from Carbon.Carbonnano where Chiral_indice_m>=1 Group by Chiral_indice_n ;")
mydb.commit()

In [ ]:
cur= mydb.cursor()
cur.execute("Create table Carbon.Carbonnano1(Chiral_indice_n varchar(10), Chiral_indice_m varchar(10),Initial_atomic_coordinate_u varchar(10),Iniatomic_indice_v varchar(10), Initial_atomic_coordinate_w varchar(10),final_atomic_coordinate_u varchar(10),final_atomic_coordinate_v varchar(10), final_atomic_coordinate_w varchar(10))")

In [ ]:
import csv
with open('carbon_nanotubes.csv',"r") as data :
    next(data)
    cou=0
    data_csv = csv.reader(data, delimiter= ";")
    for i in data_csv:
        h=str(i).replace('[','').replace(']','')
        cur.execute('insert into Carbon.carbonnano1 values ({})'.format(str(h)))
        cou+=1
        if cou==100:
            break
    print('Data inserted')
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("Select Chiral_indice_n,final_atomic_coordinate_u from Carbon.carbonnano UNION Select Chiral_indice_n,final_atomic_coordinate_u from Carbon.carbonnano1;")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("Select Chiral_indice_n,final_atomic_coordinate_u from Carbon.carbonnano UNION ALL Select Chiral_indice_n,final_atomic_coordinate_u from Carbon.carbonnano1;")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("CREATE PROCEDURE PRO AS Select * from Carbon.carbonnano ;")
cur1.execute('EXEC PRO;')
mydb.commit()

In [ ]:
# JOIN
cur1=mydb.cursor()
cur1.execute("select carbonnano.Chiral_indice_n,carbonnano1.Chiral_indice_m,carbonnano.Iniatomic_indice_v from carbonnano1 INNER JOIN  carbonnano ON carbonnano.Chiral_indice_m=carbonnano1.Chiral_indice_m;")
mydb.commit()

In [ ]:
cur1=mydb.cursor()
cur1.execute("select carbonnano.Chiral_indice_n,carbonnano1.Chiral_indice_m,carbonnano.Iniatomic_indice_v from carbonnano LEFT JOIN  carbonnano1 ON carbonnano.Chiral_indice_m=carbonnano1.Chiral_indice_m;")
mydb.commit()

In [ ]:
mydb=connection.connect(buffered=True)

In [ ]:
#cur1= mydb.cursor()
cur.execute("Select * from Carbon.carbonnano where Chiral_indice_n IS NULL")
mydb.commit()

In [ ]:
cur= mydb.cursor()
cur.execute("Create Database Neur1")
mydb.commit()

In [ ]:
cur= mydb.cursor()
cur.execute("Create Table Neur1.Cats(id int(3),name varchar(15),age int(4))")
mydb.commit()

In [ ]:
res=cur.execute("Select * from Neur1.Reptile;")
mydb.commit()

In [ ]:
res=cur.execute("Drop table Neur1.Reptile;")
mydb.commit()

In [ ]:
cur.execute("Drop Database Neur1;")
mydb.commit()

In [ ]:
res=cur.execute("Delete from Carbon.carbonnano where Chiral_indice_m=3;")
mydb.commit()
print(res)

In [ ]:
cur.execute("ALTER TABLE Carbon.carbonnano ADD sizeofcarbon VARCHAR(20) ;")
mydb.commit()

In [ ]:
cur.execute("Create table Carbon.Second(id int(5) PRIMARY KEY,Name varchar(20) NOT NULL,Size int(8),Age int(20) NOT NULL,Region varchar(30));")
mydb.commit()

In [ ]:
cur.execute("Alter Table Carbon.second Modify column Region varchar(30);")
mydb.commit()

In [ ]:
cur.execute("Insert into Carbon.Second values(1,'Manu',4,23,'Kerala');")
cur.execute("Insert into Carbon.Second values(4,'Haris',4,34,'Kollam');")
cur.execute("Insert into Carbon.Second values(2,'Sathesh',5,34,'Karnataka');")
cur.execute("Insert into Carbon.Second values(3,'Ravi',8,12,'Mysore');")
cur.execute("Insert into Carbon.Second values(5,'Rajesh',4,72,'Pune');")
cur.execute("Insert into Carbon.Second values(6,'Manu',4,66,'Kochi');")
cur.execute("Insert into Carbon.Second values(7,'Tejus',5,54,'Delhi');")
cur.execute("Insert into Carbon.Second values(8,'Oommen',6,76,'Madhya Pradesh');")
cur.execute("Insert into Carbon.Second values(9,'Krish',4,23,'Kerala');")
cur.execute("Insert into Carbon.Second values(10,'Irin',7,54,'Haryana');")
cur.execute("Insert into Carbon.Second values(11,'Rajastan',8,54,'Coimatore');")
cur.execute("Insert into Carbon.Second values(12,'Sathya',8,43,'Orisa');")
cur.execute("Insert into Carbon.Second values(13,'Febin',3,37,'Kerala');")
mydb.commit()

In [ ]:
cur.execute("Alter Table Carbon.second ADD Email varchar(20);")
mydb.commit()

In [ ]:
cur.execute("Update  Carbon.second set Email='sherin@gmail' where id=1;")
mydb.commit()

In [ ]:
cur.execute("Alter Table Carbon.second Add  Money int(20)")
mydb.commit()

In [ ]:
print(cur.execute("Alter Table Carbon.second ADD CHECK(Money>=30000)"))
mydb.commit()

In [ ]:
print(cur.execute("Alter Table Carbon.second Drop CHECK Money"))
mydb.commit()

In [ ]:
print(cur.execute("Alter Table Carbon.second Modify Money int(20) DEFAULT '39800'"))
mydb.commit()

In [ ]:
print(cur.execute("Delete from Carbon.second where Email='sherin@gmail';"))
mydb.commit()

In [ ]:
cur=mydb.cursor()
print(cur.execute("Alter Table Carbon.second Add unique(id)";))                 
mydb.commit()

In [ ]:
cur=mydb.cursor()
cur.execute("alter table carbon.second add constraint us_op unique(Name,Region);") 
mydb.commit()

In [ ]:
print(cur.execute("alter table carbon.second drop constraint us_op;"))
mydb.commit()

In [ ]:
cur.execute("Create table Carbon.customer(id int(5) NOT NULL,F_Name varchar(20) NOT NULL,L_name varchar(20) NOT NULL,Age int(20),Region varchar(30));")
mydb.commit()

In [ ]:
print(cur.execute("alter table carbon.customer add PRIMARY KEY(id);"))
mydb.commit()

In [ ]:
cur.execute("Insert into Carbon.customer values(1,'Tejus','Mehta',54,'Delhi');")
cur.execute("Insert into Carbon.customer values(2,'vishal','weght',54,'Delhi');")
cur.execute("Insert into Carbon.customer values(3,'Regin','kerti',54,'Delhi');")
cur.execute("Insert into Carbon.customer values(4,'sandeep','santhosh',54,'Delhi');")
cur.execute("Insert into Carbon.customer values(5,'Tethi','werih',54,'Delhi');")
mydb.commit()

In [ ]:
print(cur.execute("Alter Table Carbon.second Add FOREIGN KEY (id) references second(id);"))                 
mydb.commit()

In [ ]:
cur.execute("Alter Table Carbon.customer add constraint dmk CHECK(Age>=24 and Region='Delhi' );")               
mydb.commit()

In [ ]:
print(cur.execute("Alter table carbon.customer Drop  check dmk;"))                 
mydb.commit()

In [ ]:
print(cur.execute("Create index id_z on carbon.customer(F_name,L_name);"))              
mydb.commit()

In [ ]:
print(cur.execute("Alter table carbon.customer Drop index id_z;"))                 
mydb.commit()

In [ ]:
print(cur.execute("CREATE PROCEDURE Customer() Begin select Region,Size from carbon.second ENDDELIMITER ;"))                 
mydb.commit()

In [ ]:
print(cur.execute("Drop procedure asdf;"))              
mydb.commit()